.logo {
  color: pink;
  -webkit-animation-name: logo;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s;
  /* Safari 4.0 - 8.0 */
  animation-name: logo;
  animation-duration: 4s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes logo {
  0% {
    color: red;
  }

  25% {
    color: yellow;
  }

  50% {
    color: blue;
  }

  100% {
    color: green;
  }
}

/* Standard syntax */
@keyframes logo {
  0% {
    color: red;
  }

  25% {
    color: yellow;
  }

  50% {
    color: blue;
  }

  100% {
    color: green;
  }
}

.mycontent {
  padding-top: 100px;
  border: 10px solid rgba(33, 15, 121, 0.447);
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #746bb5;
  margin: 0;
}


#note {
  position: absolute;
  color: rgba(249, 241, 204, 1);
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
  text-align: center;
  user-select: none;
  font-family: Arial;
}
